* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.content {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    user-select: none;
}

.box {
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    text-align: center;
    color: #fff;
    line-height: 20rem;
    font-size: 2rem;
}